@model Models.Home

@{
    ViewBag.Title = "JoeSoft Azure Website Application";
}

<h2>Welcome to the JoeSoft Azure Website</h2>

<p>
    Application Details
    <table width="100%" border="1">
        <tr><td>Application Version</td><td>@Model.Version</td></tr>
        <tr><td>Application Build Value</td><td>@Model.Build</td></tr>
        <tr><td>web.config value</td><td>@Model.WebConfig</td></tr>
        <tr><td>Database Value</td><td>@Model.DatabaseValue</td></tr>
    </table>
</p>

